################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LibraryManagementSystem2/bin
/LibraryManagementSystem2/obj
/.vs/LibraryManagementSystem2

/LibraryManagementSystem/bin
/LibraryManagementSystem/obj
/.vs/LibraryManagementSystem
